{% extends 'layout.html' %}
{% load aist_app_tags %}

{% block title %} Контакты {% endblock %}

{% block extrahead %}
  <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
  <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
{% endblock %}


{% block content %}
  {% comment %} <div class="container" style="width: 1200px !important;"> {% endcomment %}
  <div class="container">
    <div class="row page_row">
      <div class="col-md-9" style="padding-right: 40px; margin-bottom: 30px;">
        <h2 class="text-center" style="margin: 0 0 30px 0;"><span class="glyphicon glyphicon-phone-alt" style="margin-right: 25px;"></span>Контакты</h2>
        <div class="row">
          <div class="clearfix">&nbsp;</div>
        </div>
      
        {% if sending_question %}
          {% if not question_send %}
            <div class="alert alert-danger text-center blue_block">
              <h4 style="margin: 8px 0">Ваш вопрос не был отправлен. Пожалуйста, исправьте ошибки ниже.</h4>
            </div>
          {% else %}
            <div class="alert alert-success text-center blue_block">
              <h4 style="margin: 8px 0">Ваш вопрос отправлен.</h4>
            </div>
          {% endif %}          
        {% endif %}

        <div>
          <div class="lead text_block">
            {{ contacts|safe }}
          </div>
        </div>
        <div>
          <div>
            <div id="map" style="width: 80%; height: 400px; margin: 0 auto;"></div>
          </div>
        </div>
        <div style="margin-top: 70px;">
          <div class="alert alert-info text-center blue_block">
            <h4 style="margin: 8px 0">Связаться со специалистом</h4>
          </div>
          <div style="margin: 10px auto; padding-left: 160px;">
            <form method="POST" action='.' role="form" class="form-horizontal" style="width: 70%;" id="question_form">
              {% include "question_form.html" with form=form %}
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary">Отправить вопрос</button>{% csrf_token %}
                </div>
              </div>
            </form>
            {{ you_are_ok }}
          </div>
        </div>
       
      </div><!-- /.col-xs-9 -->
      
      {% comment %}
      <div class="col-md-3" style="border: 1px solid black; min-height: 500px;">
        Новости
      </div>
      {% endcomment %}
      {% news_block %}

    </div>  
  </div>

{% endblock %}


{% block added_scripts %}
<script type="text/javascript">
  ymaps.ready(init);
  var myMap, myPlacemark;

  function init() { 
    myMap = new ymaps.Map ("map", {
      center: [55.770512, 37.624400], 
      zoom: 16
    });
    myPlacemark = new ymaps.Placemark([55.770512, 37.624400], {
      iconContent: 'Сухаревский М. пер., д. 9, стр. 1',
      balloonContentHeader: '127051,  г. Москва,  Сухаревский М. пер., д. 9, стр. 1, офис 56А',
    }, {
      preset: 'twirl#blueStretchyIcon' // иконка растягивается под контент
    });
    myMap.controls
      .add('zoomControl')
      .add('typeSelector')
      .add('smallZoomControl', { right: 5, top: 75 })
      .add('mapTools');
        
    myMap.geoObjects.add(myPlacemark);
  }
</script>
{% endblock %}